@media (max-width: 1199px) {

  .navbar-container .navbar-area .navbar #main_menu .navbar-nav .nav-item .nav-link {
    padding: 20px 10px;
  }

  .navbar-container .navbar-area .navbar .btnsi {
    margin-left: 15px;
    padding: 10px 29px;
  }

  .navbar-container .navbar-area .navbar::after {
    border-bottom: 66px solid #070b28;
  }

  .navbar-container .navbar-area .navbar::before,
  .navbar-container .navbar-area .navbar::after {
    display: none;
  }

  .breadcrumb-area.bc-lottery {
    padding: 204px 0px 150px;
  }

  .breadcrumb-area.bc-tournaments .bc-img {
    right: 0px;
  }

  .breadcrumb-area.bc-tournaments {
    padding: 210px 0px 100px;
  }

  


}

@media (max-width: 991px) {

  

  .navbar-container  .navbar-area .navbar .navbar-brand{
    padding-top: 10px;
  }

  .navbar-toggler {
    color: #FFDF94;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
}



  .navbar-container  .navbar-area .navbar #navbarTogglerDemo01 .navbar-nav .nav-item  .nav-link .mr-hover-effect {
    display: none;
  }

  .navbar-container .navbar-area .navbar #main_menu .navbar-nav .nav-item .nav-link {
    padding: 8px 10px;
  }

  .navbar-container .navbar-area .navbar .navbar-brand {
    padding-left: 0px;
  }

  
  .navbar-container .top-header .content .right-content .right-list li .sign-in,
  .navbar-container .top-header .content .right-content .right-list li i {
    font-size: 14px;
  }

  .navbar-container .navbar-area .navbar {
    padding: 8px 0px;

  }

  .navbar-container .navbar-area .navbar #navbarTogglerDemo01 .navbar-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .section-heading .subtitle {
    font-size: 20px;
    line-height: 30px;
  }

 
  .slideBanner {  
    margin-bottom:30px ;
  }

  .breadcrumb-area .breadcrumb-list li {  
    margin-bottom: 30px;
  }
  

  .breadcrumb-area .title {
    font-size: 40px;
    line-height: 50px;
  }

  .breadcrumb-area.play {
    padding: 188px 0px 218px;
  }

  .breadcrumb-area .bc-img {
    position: absolute !important;
    right: 0px !important;
    max-width: 50% !important;
    top: 65% !important;
    bottom: auto !important;
    transform: translateY(-50%) !important;
  }

  .breadcrumb-area.bc-lottery {
    padding: 187px 0px 152px;
  }

  .lottery-area .lottery-staticstics .single-staticstics {
    margin-bottom: 80px;
  }

  .lottery-area .daily-lottery {
    padding: 83px 0px 120px;
  }

  .lottery-area .daily-lottery .draw-time .draw-counter span {
    font-size: 30px;
    line-height: 40px;
  }

  
 
  .breadcrumb-area.bc-tournaments {
    padding: 188px 0px 94px;
  }


  .breadcrumb-area.bc-awards .bc-img {
    bottom: 0px !important;
    top: auto !important;
    transform: unset !important;
  }

  .breadcrumb-area.bonus {
    padding: 187px 0px 96px;
  }

 
  

  .navbar-container .navbar-area .navbar #main_menu .navbar-nav .nav-item .dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
  }

  div#main_menu .navbar-nav {
    height: 210px;
    overflow-y: auto;
  }

  




}

@media (max-width: 767px) {
  
  .navbar-container .top-header .content {
    display: flow-root;
  }

  .navbar-container .top-header .content .left-content {
    text-align: center;
    margin-bottom: 15px;
  }

  .navbar-container .top-header .content .right-content {
    text-align: center;
  }

  .activities .tab-menu-area .nav-lend .nav-item .nav-link {
    padding: 0px 30px;
    font-size: 16px;
  }


  .breadcrumb-area.play {
    padding: 230px 0px 218px;
  }

  .breadcrumb-area.bc-lottery {
    padding: 230px 0px 152px;
  }

  .breadcrumb-area.bc-tournaments {
    padding: 230px 0px 94px;
  }

  .banner1-text-support h3 {


    font-family: 'Gudea';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 35px;
    letter-spacing: 0.11em;
    background: linear-gradient(90deg, #BC923A 0%, #FFDF94 53%, #CFAA59 85%, #FFDF94 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    mix-blend-mode: normal;
    margin-bottom: 2rem;
  }


}
@media (max-width: 588px) {
  .modal {
    display:flex;
    justify-content: center;    
    align-items: center;
    overflow: auto;
    width: 100% !important;
    margin: 0% !important;
  }

  .modal-dialog {
    width: 100% !important;
    display:flex;
    justify-content: center;    
    align-items: center;
    margin-left: 4rem;
  }

}

@media (max-width: 575px) {
  
  .breadcrumb-area .bc-img {
    display: none;
  }

  .breadcrumb-area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }


  .section-heading .subtitle {
    font-size: 18px;
    line-height: 28px;
  } 

  .breadcrumb-area .title {
    font-size: 30px;
    line-height: 40px;
  }



  .lottery-area .lottery-staticstics .single-staticstics {
    padding: 30px 30px 30px;
    border-radius: 10px;
    background-color: rgba(29, 40, 80, 0.6);
  }

}



@media (max-width: 469px) {}


@media (max-width: 414px) {

  .navbar-container .top-header .content .left-content .left-list li {
    margin-right: 15px;
  }

  .navbar-container .top-header .content .left-content .left-list li::before {
    right: -14px;
  }

  .lottery-area .daily-lottery .draw-time .draw-counter,
  .lottery-area .daily-lottery .draw-time .draw-counter span {
    font-size: 24px !important;
    line-height: 34px !important;
  }

 
  .section-heading .title {
    font-size: 26px;
    line-height: 36px;
  }

  

  .breadcrumb-area .title {
    font-size: 24px;
    line-height: 34px;
  }

  
  .breadcrumb-area.bc-lottery {
    padding: 232px 0px 152px;
  }

  .breadcrumb-area.about {
    padding: 232px 0px 94px;
  }

  .breadcrumb-area.bc-affiliate {
    padding: 232px 0px 174px;
  }

  .breadcrumb-area.bc-awards {
    padding: 232px 0px 94px;
  }

  .breadcrumb-area.bonus {
    padding: 232px 0px 96px;
  }


}


@media (max-width: 390px) {

  .breadcrumb-area .bc-img {
    display: none;
  }


  .navbar-container .top-header .content .right-content .right-list>li .cart-icon.tm-dropdown .tm-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    transform: translateX(-30%);
  }

 

}


@media (max-width: 343px) {
  


  .breadcrumb-area.bc-lottery {
    padding: 257px 0px 218px;
  }

  .breadcrumb-area.bc-lottery {
    padding: 257px 0px 152px;
  }

  .breadcrumb-area.bc-tournaments {
    padding: 257px 0px 94px;
  }

  .breadcrumb-area.about {
    padding: 257px 0px 94px;
  }

  .breadcrumb-area.bc-affiliate {
    padding: 257px 0px 174px;
  }

  .breadcrumb-area.bc-awards {
    padding: 257px 0px 94px;
  }

  .breadcrumb-area.bonus {
    padding: 257px 0px 96px;
  }

  .breadcrumb-area.bc-faq {
    padding: 257px 0px 95px;
  }

  .breadcrumb-area.h-i-w {
    padding: 257px 0px 93px;
  }

  .breadcrumb-area.bc-terms {
    padding: 257px 0px 150px;
  }

  .breadcrumb-area.bc-contact {
    padding: 257px 0px 94px;
  }




}